<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="InstallyWixToolset" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="0e22440f-178c-40d2-8206-7034174a78c2">
    <BootstrapperApplication>
        <Contro
    </BootstrapperApplication>

    <Chain>
      <!-- TODO: Define the list of chained packages. -->
      <MsiPackage SourceFile="InstallyAppSetup.msi" />
    </Chain>

  </Bundle>
</Wix>
